.App-header {
  text-align: center;
  color: #124899;
  margin-bottom: 40px;
  background-color: white;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
}

h1 {
  font-size: 64px;
  font-weight: bolder;
  line-height: 2;
}

footer {
  text-align: center;
  color: #0b3068;
  margin: 40px 0;
}

a {
  text-decoration: none;
  color: #0b3068;
}

a:hover {
  text-decoration: underline;
  color: #124899;
}
