h3 {
  opacity: 0.6;
  color: #1964d6;
  font-weight: normal;
  display: inline-block;
}

i {
  margin-right: 10px;
  color: #124899;
}

i:hover {
  color: #1964d6;
}

.Phonetics {
  text-align: center;
}
